.button {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  min-width: 80px;
  background-color: white;
  color: #004aad;
  border: none;
  border-radius: 20px;
}

.button.primary {
  background-color: #004aad;
  color: white;
}

.button.secondary:hover {
  background-color: rgb(227, 237, 253);
  // color: white;
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  background-color: white;
  color: #999;
  cursor: not-allowed;
}
