.tabs-wrapper-tab-group {
  display: flex;
  align-items: center;
  .tab {
    padding: 20px;
    border: 2px solid transparent;
    border-bottom: none;
    cursor: pointer;
  }
  .active-tab {
    border: 2px solid #004aad;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.tabs-wrapper-button-group {
  display: flex;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  .tab {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #F0F7FC;
    color: black;
  }
  .active-tab {
    background-color: #004aad;
    color: white;
  }
}
