.services-container {
  background-image: url("../../assets/img/services-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;
}
