//color constants
$primary : #004aad;
$primary-dark : #022135;
$primary-dark-bg : #e1f0fb;
$primary-light-bg : #fafcfe;

$gray-dark : #545454;
$gray-light : #8f8e8e;

body {
  background-color: $primary-light-bg;
}

.underlinewave {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: $primary;
  text-underline-offset: 5px;
}

//from customizations
.MuiInputBase-root {
  padding: 0;
}

