.modal-container {
  position: relative;
  .close-icons {
    z-index: 10;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.call-modal-container {
  .call-modal-header {
    text-align: center;
  }
}