.table {
  width: 100%;
  border: 2px solid #004aad;
  thead {
    background-color: #e1f0fb;
    th {
      border-right: 1px solid #004aad;
      border-bottom: 1px solid #004aad;
    }
    th:last-child {
      border-right: none;
    }
  }
  tbody {
    td {
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }
    th:last-child {
      border-right: none;
      border-bottom: none;
    }
  }
  tr {
    td,
    th {
      padding: 20px 0px;
      text-align: center;
    }
  }
}
